rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /syncSpaces/{spaceId}/{document=**} {
      allow read, write: if request.auth != null;
    }

    match /syncSpaces/{syncSpaceId}/{document=**} {
      allow read, write: if request.auth != null
                         && syncSpaceId.matches('^[a-f0-9]{64}$');
    }
  }
}
